@{
    ViewBag.Title = "Home Page";
}

<div id="calendar"></div>

<link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
<link href="~/Content/fullcalendar.print.min.css" rel="stylesheet" media="print"/>

@section Scripts{
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/fullcalendar.min.js"></script>
    
    <script>
        $(document).ready(function () {
            var events = [];
            $.ajax({
                type: "GET",
                url: "/events/GetEvents",
                success: function(data) {
                    $.each(data, function (i, v) {
                        events.push({
                            id: v.ID,
                            start: moment(v.Start),
                            end: moment(v.End),
                            title: v.Title,
                            url: "/events/details/" + v.ID
                        });
                    })

                    GenerateCalendar(events);
                },
                error: function (error)
                {
                    alert(error);
                }
            })

            function GenerateCalendar(events) {
                $('#calender').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    events: events,
                    contentHeight: 400,
                    eventClick: function (info) {
                        alert(info.event.url);
                        location.href = info.event.url;
                    }
                })
            }
        })

    </script>
}